body{
text-align: center;
}
	#S1{
	padding-left:25px;
	text-align: left;
	height:50px;
  width: 1350px;
  text-align: center;
  
background:#cccccc; 
color:#FFFFFF;
margin-bottom: 8px;
border-top:outset;
}






}